<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Search and Highlight</title>
    <style>
        .highlight {
            background-color: yellow;
        }
    </style>
</head>
<body>
  <h1>Text Search and Highlight</h1>
    <input type="text" id="searchInput" placeholder="Enter search term...">
    <a href="javascript:void(0);" onclick="searchAndHighlight()">Search</a>

    <div class="content">
        <div class="section">
            <button>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed et lectus eget velit condimentum semper.
                </p>
            </button>
            <div class="section special">
                <p>
                    Duis non velit in felis eleifend ultricies.
                    Duis facilisis urna sit amet ligula elementum,
                    non ullamcorper lectus tincidunt.
                </p>
            </div>
        </div>
    </div>

    <script src="/javaScript/searchengine.js"></script>
</body>
</html>
